{% extends './templates/base.html.twig' %}
{% block body %}
    <!-- Candidates Start -->
    <div class="container mt-100 mt-60">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <div class="section-title mb-4 pb-2">
                    <h4 class="title mb-4">Nos Experts</h4>
                    <p class="text-muted para-desc mx-auto mb-0">Start working with <span class="fw-bold"
                                                                                          style="color: #2AABB0">Landrick</span>
                        that can provide everything you need to generate awareness, drive traffic, connect.</p>
                </div>
            </div><!--end col-->
        </div><!--end row-->

        <div class="row">
            {% for coach_ in data.coachs %}
             <div class="col-lg-3 col-md-6 mt-4 pt-2">
                <a href="/coach/{{ coach_.id }}">
                    <div class="card team team-primary text-center border-0">
                        <div class="card-body">
                            <div class="position-relative">
                                <img src="{{ coach_.profil_image }}"
                                     class="img-fluid avatar avatar-ex-large rounded-circle shadow" alt=""
                                >
                            </div>
                            <div class="content pt-3 pb-3">
                                <h5 class="mb-0"><a href="javascript:void(0)" class="name text-dark">{{ coach_.nom|capitalize }} {{ coach_.prenom|capitalize }}</a>
                                </h5>
                                <small class="designation text-muted">{{ coach_.coach.specialite|capitalize }}</small>
                                {# <h6 class="text-muted fw-normal">$ 2300</h6> #}
                            </div>
                        </div>
                    </div>
                </a>
            </div><!--end col-->
            {% endfor %}
        </div><!--end row-->
    </div><!--end container-->
    <!-- Candidates End -->
{% endblock %}