{% extends "./templates/coach.html.twig" %}
{% block secondary %}

    <div class="col-lg-8 col-12">
    <div class="rounded shadow p-4">
        <h5>Members:</h5>

        <div class="row">
            <div class="col-lg-6 col-md-4 mt-4 pt-2">
                <div class="text-center">
                    <img src="{{ assets_path }}/assets/images/client/01.jpg"
                         class="avatar avatar-medium shadow-lg rounded-pill" alt="">
                    <div class="content mt-3">
                        <a href="javascript:void(0)" class="h5 text-dark">Calvin Carlo</a>
                        <ul class="list-unstyled social-icon social mb-0 mt-2">
                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i
                                            data-feather="facebook" class="fea icon-sm fea-social"></i></a>
                            </li>
                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i
                                            data-feather="instagram" class="fea icon-sm fea-social"></i></a>
                            </li>
                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i
                                            data-feather="twitter"
                                            class="fea icon-sm fea-social"></i></a></li>
                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i
                                            data-feather="linkedin" class="fea icon-sm fea-social"></i></a>
                            </li>
                        </ul><!--end icon-->
                        <a href="javascript:void(0)" class="btn " style="background-color: #2AABB0; color: #fff"><i
                                    class="uil uil-envelope"></i> Envoyer un message</a>
                    </div>
                </div>
            </div><!--end col-->
            <div class="col-lg-6 col-md-4 mt-4 pt-2">
                <div class="text-center">
                    <img src="{{ assets_path }}/assets/images/client/01.jpg"
                         class="avatar avatar-medium shadow-lg rounded-pill" alt="">
                    <div class="content mt-3">
                        <a href="javascript:void(0)" class="h5 text-dark">Calvin Carlo</a>
                        <ul class="list-unstyled social-icon social mb-0 mt-2">
                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i
                                            data-feather="facebook" class="fea icon-sm fea-social"></i></a>
                            </li>
                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i
                                            data-feather="instagram" class="fea icon-sm fea-social"></i></a>
                            </li>
                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i
                                            data-feather="twitter"
                                            class="fea icon-sm fea-social"></i></a></li>
                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i
                                            data-feather="linkedin" class="fea icon-sm fea-social"></i></a>
                            </li>
                        </ul><!--end icon-->
                        <a href="javascript:void(0)" class="btn " style="background-color: #2AABB0; color: #fff"><i
                                    class="uil uil-envelope"></i> Envoyer un message</a>
                    </div>
                </div>
            </div><!--end col-->
            <div class="col-lg-6 col-md-4 mt-4 pt-2">
                <div class="text-center">
                    <img src="{{ assets_path }}/assets/images/client/01.jpg"
                         class="avatar avatar-medium shadow-lg rounded-pill" alt="">
                    <div class="content mt-3">
                        <a href="javascript:void(0)" class="h5 text-dark">Calvin Carlo</a>
                        <ul class="list-unstyled social-icon social mb-0 mt-2">
                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i
                                            data-feather="facebook" class="fea icon-sm fea-social"></i></a>
                            </li>
                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i
                                            data-feather="instagram" class="fea icon-sm fea-social"></i></a>
                            </li>
                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i
                                            data-feather="twitter"
                                            class="fea icon-sm fea-social"></i></a></li>
                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i
                                            data-feather="linkedin" class="fea icon-sm fea-social"></i></a>
                            </li>
                        </ul><!--end icon-->
                        <a href="javascript:void(0)" class="btn " style="background-color: #2AABB0; color: #fff"><i
                                    class="uil uil-envelope"></i> Envoyer un message</a>
                    </div>
                </div>
            </div><!--end col-->
            <div class="col-lg-6 col-md-4 mt-4 pt-2">
                <div class="text-center">
                    <img src="{{ assets_path }}/assets/images/client/01.jpg"
                         class="avatar avatar-medium shadow-lg rounded-pill" alt="">
                    <div class="content mt-3">
                        <a href="javascript:void(0)" class="h5 text-dark">Calvin Carlo</a>
                        <ul class="list-unstyled social-icon social mb-0 mt-2">
                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i
                                            data-feather="facebook" class="fea icon-sm fea-social"></i></a>
                            </li>
                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i
                                            data-feather="instagram" class="fea icon-sm fea-social"></i></a>
                            </li>
                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i
                                            data-feather="twitter"
                                            class="fea icon-sm fea-social"></i></a></li>
                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i
                                            data-feather="linkedin" class="fea icon-sm fea-social"></i></a>
                            </li>
                        </ul><!--end icon-->
                        <a href="javascript:void(0)" class="btn " style="background-color: #2AABB0; color: #fff"><i
                                    class="uil uil-envelope"></i> Envoyer un message</a>
                    </div>
                </div>
            </div><!--end col-->
            <div class="col-lg-6 col-md-4 mt-4 pt-2">
                <div class="text-center">
                    <img src="{{ assets_path }}/assets/images/client/01.jpg"
                         class="avatar avatar-medium shadow-lg rounded-pill" alt="">
                    <div class="content mt-3">
                        <a href="javascript:void(0)" class="h5 text-dark">Calvin Carlo</a>
                        <ul class="list-unstyled social-icon social mb-0 mt-2">
                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i
                                            data-feather="facebook" class="fea icon-sm fea-social"></i></a>
                            </li>
                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i
                                            data-feather="instagram" class="fea icon-sm fea-social"></i></a>
                            </li>
                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i
                                            data-feather="twitter"
                                            class="fea icon-sm fea-social"></i></a></li>
                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i
                                            data-feather="linkedin" class="fea icon-sm fea-social"></i></a>
                            </li>
                        </ul><!--end icon-->
                        <a href="javascript:void(0)" class="btn " style="background-color: #2AABB0; color: #fff"><i
                                    class="uil uil-envelope"></i> Envoyer un message</a>
                    </div>
                </div>
            </div><!--end col-->
            <div class="col-lg-6 col-md-4 mt-4 pt-2">
                <div class="text-center">
                    <img src="{{ assets_path }}/assets/images/client/01.jpg"
                         class="avatar avatar-medium shadow-lg rounded-pill" alt="">
                    <div class="content mt-3">
                        <a href="javascript:void(0)" class="h5 text-dark">Calvin Carlo</a>
                        <ul class="list-unstyled social-icon social mb-0 mt-2">
                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i
                                            data-feather="facebook" class="fea icon-sm fea-social"></i></a>
                            </li>
                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i
                                            data-feather="instagram" class="fea icon-sm fea-social"></i></a>
                            </li>
                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i
                                            data-feather="twitter"
                                            class="fea icon-sm fea-social"></i></a></li>
                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i
                                            data-feather="linkedin" class="fea icon-sm fea-social"></i></a>
                            </li>
                        </ul><!--end icon-->
                        <a href="javascript:void(0)" class="btn " style="background-color: #2AABB0; color: #fff"><i
                                    class="uil uil-envelope"></i> Envoyer un message</a>
                    </div>
                </div>
            </div><!--end col-->
            <div class="col-lg-6 col-md-4 mt-4 pt-2">
                <div class="text-center">
                    <img src="{{ assets_path }}/assets/images/client/01.jpg"
                         class="avatar avatar-medium shadow-lg rounded-pill" alt="">
                    <div class="content mt-3">
                        <a href="javascript:void(0)" class="h5 text-dark">Calvin Carlo</a>
                        <ul class="list-unstyled social-icon social mb-0 mt-2">
                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i
                                            data-feather="facebook" class="fea icon-sm fea-social"></i></a>
                            </li>
                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i
                                            data-feather="instagram" class="fea icon-sm fea-social"></i></a>
                            </li>
                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i
                                            data-feather="twitter"
                                            class="fea icon-sm fea-social"></i></a></li>
                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i
                                            data-feather="linkedin" class="fea icon-sm fea-social"></i></a>
                            </li>
                        </ul><!--end icon-->
                        <a href="javascript:void(0)" class="btn " style="background-color: #2AABB0; color: #fff"><i
                                    class="uil uil-envelope"></i> Envoyer un message</a>
                    </div>
                </div>
            </div><!--end col-->
            <div class="col-lg-6 col-md-4 mt-4 pt-2">
                <div class="text-center">
                    <img src="{{ assets_path }}/assets/images/client/01.jpg"
                         class="avatar avatar-medium shadow-lg rounded-pill" alt="">
                    <div class="content mt-3">
                        <a href="javascript:void(0)" class="h5 text-dark">Calvin Carlo</a>
                        <ul class="list-unstyled social-icon social mb-0 mt-2">
                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i
                                            data-feather="facebook" class="fea icon-sm fea-social"></i></a>
                            </li>
                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i
                                            data-feather="instagram" class="fea icon-sm fea-social"></i></a>
                            </li>
                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i
                                            data-feather="twitter"
                                            class="fea icon-sm fea-social"></i></a></li>
                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i
                                            data-feather="linkedin" class="fea icon-sm fea-social"></i></a>
                            </li>
                        </ul><!--end icon-->
                        <a href="javascript:void(0)" class="btn " style="background-color: #2AABB0; color: #fff"><i
                                    class="uil uil-envelope"></i> Envoyer un message</a>
                    </div>
                </div>
            </div><!--end col-->


        </div><!--end row-->
    </div>
</div><!--end col-->

{% endblock  %}