{% extends './templates/coach.html.twig' %}

{% block secondary %}
    <div class="col-lg-8 col-12">
        <div class="rounded shadow p-4">
            <div class="d-flex align-items-center justify-content-between">
                <h5 class="mb-0">Seances:</h5>
            </div>
            {% for seance in data.seances %}
                <div class="d-flex border-bottom p-3 position-relative">
                    <a href="javascript:void(0)">
                        <div class="d-flex ms-2">
                            <img src="{{ seance.client.utilisateur.profil_image }}" class="avatar avatar-md-sm rounded-pill shadow" alt="">
                            <div class="flex-1 ms-3">
                                <span class="badge bg-success rounded-pill">{{ seance.date_heure|format_datetime(pattern="dd'-'MM'-'yy h:mm a") }}</span>
                                {% if seance.est_termine == 1 %}
                                    <span class="badge bg-success rounded-pill">Termine</span>
                                {# {% else %}
                                    <span class="badge bg-danger rounded-pill">En cours</span> #}
                                {% endif %}


                                 {% if seance.statut== "attente" %}
                                    <span class="badge bg-danger rounded-pill">En Attente</span>
                                    {% elseif seance.statut== "accepte" %}
                                    <span class="badge bg-success rounded-pill">Accepte</span>
                                    {% else %}
                                    <span class="badge bg-danger rounded-pill">Refuse</span>
                                {% endif %}


                                <h6 class="text-dark">{{ seance.client.utilisateur.nom|capitalize }} {{ seance.client.utilisateur.prenom|capitalize }}</h6>
                                <p class="text-muted mb-0">{{ seance.client.objectifs|capitalize }}</p>
                                {% if seance.statut== "attente" %}
                                    <a href="/confirmer/{{ seance.id }}" class="btn btn-success btn-sm"> Confirmer</a>
                                    <a href="/annuler/{{ seance.id }}" class="btn btn-danger btn-sm"> Refuser</a>
                                    {% elseif seance.statut== "accepte" %}
                                    <a href="/terminer/{{ seance.id }}" class="btn btn-success btn-sm">Termine</a>
                                {% endif %}
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div><!--end col-->
{% endblock %}