{% extends "./templates/base.html.twig" %}
{% block title  %} {{ data.coach.utilisateur.nom }} {{ data.coach.utilisateur.prenom }} {% endblock %}
{% block body %}


    <!-- Hero Start -->
    <section class="bg-profile d-table w-100"
             style="background: url('{{ assets_path }}/assets/images/account/bg.png') center center; background-color: #2AABB0 !important;">
        <!-- Modal Content Start -->
        <div class="modal fade" id="reserver" tabindex="-1" aria-labelledby="reserver-title" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content rounded shadow border-0">
                    <div class="modal-header border-bottom">
                        <h5 class="modal-title" id="reserver-title">Réserver une seance avec {{ data.coach.utilisateur.prenom }}</h5>
                        <button type="button" class="btn btn-icon btn-close" data-bs-dismiss="modal" id="close-modal"><i class="uil uil-times fs-4 text-dark"></i></button>
                    </div>
                    <div class="modal-body p-4">
                        <form action="/reserver/{{ data.coach.utilisateur.id }}" method="post">
                            <div class="row">
                                <div class="col-12">
                                    <div class="mb-3">
                                        <label class="form-label">Choissisez une date<span class="text-danger">*</span></label>
                                        <div class="form-icon position-relative">
                                            <i data-feather="user" class="fea icon-sm icons"></i>
                                            <input name="date" id="date" type="datetime-local" class="form-control ps-5">
                                        </div>
                                    </div>
                                </div><!--end col-->
                                <div class="col-12">
                                    <textarea name="message" id="message" rows="4" class="form-control" placeholder="Votre message"></textarea>
                                </div>
                            </div><!--end row-->
                            <div class="border-top p-4">
                                <button type="submit" class="btn" style="color: #fff ; background-color: #2AABB0">Confirmer</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
        <!-- Modal Content End -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card public-profile border-0 rounded shadow" style="z-index: 1;">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-lg-2 col-md-3 text-md-start text-center">
                                    {% if data.coach.utilisateur.profil_image|is_valid_url %}
                                    <img src="{{ data.coach.utilisateur.profil_image }}"
                                         class="avatar avatar-large rounded-circle d-block mx-auto" alt="">
                                    {% else %}
                                    <img src="{{ assets_path }}/assets/images/profile/{{ data.coach.utilisateur.profil_image }}"
                                         class="avatar avatar-large rounded-circle d-block mx-auto" alt="">
                                    {% endif %}
                                </div><!--end col-->

                                <div class="col-lg-10 col-md-9">
                                    <div class="row align-items-end">
                                        <div class="col-md-7 text-md-start text-center mt-4 mt-sm-0">
                                            <h3 class="title mb-0">{{ data.coach.utilisateur.nom }} {{ data.coach.utilisateur.prenom }}</h3>
                                            <small class="text-muted h6 me-2">{{ data.coach.specialite|capitalize }}</small>
                                            {% if data.coach.disponibilite == 1 %}
                                                <span class="badge bg-success rounded-pill">Disponible</span>
                                            {% else %}
                                                <span class="badge bg-danger rounded-pill">Indisponible</span>
                                            {% endif %}
                                        </div><!--end col-->
                                        <div class="col-md-5 text-md-end text-center">
                                            <ul class="list-unstyled mb-0 mt-4">
                                                {% if(session['auth']=='client') %}
                                                    <li class="list-inline-item">
                                                        <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#reserver"
                                                            class="btn " style="background-color: #2aa; color: #fff">
                                                            Reserver
                                                        </a>
                                                    </li>
                                                {% else %}
                                                    <li class="list-inline-item">
                                                        <span class="badge bg-danger rounded-pill">Connexion requise</span>
                                                    </li>
                                                {% endif %}
                                            </ul><!--end icon-->
                                        </div><!--end col-->
                                    </div><!--end row-->
                                </div><!--end col-->
                            </div><!--end row-->
                        </div>
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--ed container-->
    </section><!--end section-->
    <!-- Hero End -->
    <!-- Profile Start -->
    <section class="section mt-60">
        <div class="container mt-lg-3">
            <div class="row">
                <div class="col-lg-8 col-12 mx-auto">
                    <div class="border-bottom pb-4">
                        <h5>{{ data.coach.utilisateur.nom }} {{ data.coach.utilisateur.prenom }}</h5>
                        <p class="text-muted mb-0">{{ data.coach.description }}</p>
                    </div>

                    <div class="border-bottom pb-4">
                        <div class="row">
                            <div class="col-md-6 mt-4">
                                <h5>Détails personnels :</h5>
                                <div class="mt-4">
                                    <div class="d-flex align-items-center mt-3">
                                        <i data-feather="dollar-sign" class="fea icon-ex-md text-muted me-3"></i>
                                        <h6 style="color: #2AABB0" class=" mb-0">Tarif : </h6>
                                        <a href="javascript:void(0)" class="text-muted"> {{ data.coach.tarif_horaire }}
                                            MAD</a>
                                    </div>
                                    <div class="d-flex align-items-center mt-3">
                                        <i data-feather="italic" class="fea icon-ex-md text-muted me-3"></i>
                                        <div class="flex-1">
                                            <h6 style="color: #2AABB0" class=" mb-0">Langues :</h6>
                                            {% for lng in data.langues %}
                                                <a href="javascript:void(0)" class="text-muted">{{ lng.langue }}</a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center mt-3">
                                        <i data-feather="map-pin" class="fea icon-ex-md text-muted me-3"></i>
                                        <div class="flex-1">
                                            <h6 style="color: #2AABB0" class=" mb-0">Location :</h6>
                                            <a href="javascript:void(0)"
                                               class="text-muted">{{ data.coach.localisation }}</a>
                                        </div>
                                    </div>
                                </div>
                            </div><!--end col-->

                            <div class="col-md-6 mt-4 pt-2 pt-sm-0">
                                <h5>Expériences :</h5>
                                {% for experience in data.experiences %}
                                    <div class="d-flex features feature-primary key-feature align-items-center p-3 rounded shadow mt-4">
                                        <div class="flex-1 content ms-3">
                                            <h5 class="title mb-0">{{ experience.titre }}</h5>
                                            <p class="text-muted mb-0">{{ experience.date_debut|format_datetime(pattern="MM'/'y") }}
                                                - {{ experience.date_fin|format_datetime(pattern="MM'/'y") }}</p>
                                            <p class="text-muted mb-0"><a href="javascript:void(0)"
                                                                          class="read-more">{{ experience.entreprise }}</a>
                                                @{{ experience.ville }}, {{ experience.pays }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>

                            <!--end col-->
                        </div><!--end row-->
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </section><!--end section-->
    <!-- Profile End -->
{% endblock %}