
<!doctype html>
<html lang="en" dir="ltr">

    <head>
        <meta charset="utf-8" />
        <title>Landrick - Saas & Software Landing Page Template</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Premium Bootstrap 5 Landing Page Template" />
        <meta name="keywords" content="Saas, Software, multi-uses, HTML, Clean, Modern" />
        <meta name="author" content="Shreethemes" />
        <meta name="email" content="support@shreethemes.in" />
        <meta name="website" content="https://shreethemes.in" />
        <meta name="Version" content="v4.4.0" />

        <!-- favicon -->
        <link rel="shortcut icon" href="{{ data[0] }}/assets/images/favicon.ico" />
        
        <!-- Css -->
        <link href="{{ data[0] }}/assets/libs/tiny-slider/tiny-slider.css" rel="stylesheet">
        <!-- Bootstrap Css -->
        <link href="{{ data[0] }}/assets/css/bootstrap.min.css" id="bootstrap-style" class="theme-opt" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="{{ data[0] }}/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
        <link href="{{ data[0] }}/assets/libs/@iconscout/unicons/css/line.css" type="text/css" rel="stylesheet" />
        <!-- Style Css-->
        <link href="{{ data[0] }}/assets/css/style.min.css" id="color-opt" class="theme-opt" rel="stylesheet" type="text/css" />

    </head>

    <body>
        {% block body %}{% endblock %}

        <!-- javascript -->
        <!-- JAVASCRIPT -->
        <script src="{{ data[0] }}/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- SLIDER -->
        <script src="{{ data[0] }}/assets/libs/tiny-slider/min/tiny-slider.js"></script>
        <!-- Main Js -->
        <script src="{{ data[0] }}/assets/libs/feather-icons/feather.min.js"></script>
        <script src="{{ data[0] }}/assets/js/plugins.init.js"></script><!--Note: All init js like tiny slider, counter, countdown, maintenance, lightbox, gallery, swiper slider, aos animation etc.-->
        <script src="{{ data[0] }}/assets/js/app.js"></script><!--Note: All important javascript like page loader, menu, sticky menu, menu-toggler, one page menu etc. -->
    </body>
</html>